body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    color: #333;
    max-width: 750px;
    margin: 40px auto;
    background-color: #F3F3F3;
}

h1, h2, h3 {
    margin-bottom: 0.25em;
}

h2 {
    font-size: 120%;
}

nav {
    font-size: 80%;
}

#score {
    font-weight: bold;
    font-size: larger;
    vertical-align: middle;
}

#score_wrapper span:not(#score) {
    vertical-align: middle;
}

#score_wrapper {
    background-color: white;
    /*vertical-align: bottom;*/
    font-size: larger;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: thin solid black;
}

footer {
    font-size: smaller;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

svg {
    overflow: visible;
}

.graph-axis path, .graph-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.graph-axis text {
    font-size: smaller;
}

text.bar-label {
    font-family: sans-serif;
    font-size: smaller;
}

rect.positive-delta {
    fill: #00AF89;
}

rect.negative-delta {
    fill: red;
}

table {
    background-color: white;
    border-collapse: collapse;
}

th, td {
    border: thin solid black;
    padding: 0.25em;
}

td.loading {
    background-color: #EEE;
}